{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "arrowFunctions": true,
    "bindaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "complexity": [1, 8],
    "curly": 2,
    "dot-notation": 1,
    "eqeqeq": 2,
    "no-else-return": 1,
    "no-extra-bind": 1,
    "no-multi-spaces": 2,
    "no-new": 2,
    "no-return-assign": 2,
    "no-self-compare": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-shadow-restricted-names": 2,
    "no-shadow": 2,
    "no-unused-vars": 1,
    "no-use-before-define": 2,
    "array-bracket-spacing": 1,
    "block-spacing": 1,
    "brace-style": 2,
    "camelcase": 2,
    "comma-spacing": 2,
    "comma-style": 2,
    "computed-property-spacing": 2,
    "jsx-quotes": 1,
    "key-spacing": 1,
    "new-parens": 2,
    "no-lonely-if": 1,
    "no-mixed-spaces-and-tabs": 2,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-unneeded-ternary": 2,
    "object-curly-spacing": [1, "always"],
    "padded-blocks": [2, "never"],
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "space-after-keywords": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "space-in-parens": 2,
    "space-infix-ops": 2,
    "space-return-throw-case": 2,
    "spaced-comment": 2,
    "arrow-parens": 2,
    "arrow-spacing": 2,
    "constructor-super": 2,
    "generator-star-spacing": [2, { "before": true, "after": false }],
    "no-const-assign": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-prop-types": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 1,
    "react/prop-types": [1, { "ignore": ["className", "children", "style"] }],
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/wrap-multilines": 2
  }
}
